.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    height: 5rem;
    background: rgb(73, 79, 82);
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.project-card {
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
}

.contact {
    font-size: 22pt;
}

.about {
    font-size: 16pt;
}

.projectPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
}